html 
    head 
        title Move It! DANCE ACADEMY 
        block style 
    body    
        nav#navbar 
            ul 
                div.img 
                    img(src='../static/logo.jpg')
                li.lihome #[a(href='/')] Home 
                li #[a(href='/')] About 
                li #[a(href='/')] Join Us 
                li #[a(href='/')] More Info
        block content 
        footer#footer 
            | CopyRight © 2023 moveitdance.com | All Rights Reserved.