doctype html 
html    
    head 
        style 
            include ../static/style.css 
        title Move It! DANCE ACADEMY 
    body 
        nav#navbar 
            ul 
                div.img 
                    img(src='../static/logo.jpg')
                li.lihome #[a(href='/')] Home 
                li #[a(href='/')] About 
                li #[a(href='/')] Join Us 
                li #[a(href='/')] More Info
        section#introsection 
            h1 MOVE IT! DANCE ACADEMY 
            h3 Dance is the hidden language of the soul.
            a(href='/') Join Us Now
        section#mission 
            h1 Our Mission
            div.cards 
                h2  Dance Prefection 
                div.img1    
                    img(src="../static/111.jpg")
            div.cards 
                h2   Lets Move It!
                div.img2    
                    img(src="../static/2.jpg")
            div.cards 
                h2  Expert Teaching 
                div.img3    
                    img(src="../static/31.png")
        section#sponsors 
            h1 Our Sponsors
            div.simg
                img(src="../static/l1.jpg", alt="Sponsors img")
                img(src="../static/l2.jpg", alt="Sponsors img")
                img(src="../static/l3.jpg", alt="Sponsors img")
                img(src="../static/l4.jpg", alt="Sponsors img")
                img(src="../static/l5.jpg", alt="Sponsors img")
        footer#footer 
            | CopyRight © 2023 moveitdance.com | All Rights Reserved.